<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wazirx</title>
    <style>
        .heading-container{
            background-color:grey;
            height:500px;
            border-radius: 30px;
        }
        h1{
            color:white;
            padding:130px;
        }
    </style>
</head>
<body>
    {{>navbar}}
    <div class="heading-container">
        <h1>Wecome to Wazirx website here you can check all cryptocurrency's prices</h1>
    </div>

</body>
</html>