<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .container{
            background-color:black;
            border-radius: 30px;
        }
        ul{
            list-style: none;
            display: flex;
        }
        .nav-li{
            padding:7px 6px;
        }
        ul li a{
            text-decoration: none;
            font-size: 20px;
            color:red;
            padding:7px 9px;
        }
    </style>
  </head>
  <body>
    <div class = container>
        <ul>
            <li class="nav-li"><a href = "/">HOME</a></li>
            <li class="nav-li"><a href = "/btc">BTC/INR</a></li>
            <li class="nav-li"><a href = "/xrp">XRP/INR</a></li>
            <li class="nav-li"><a href = "/eth">ETH/INR</a></li>
            <li class="nav-li"><a href = "/trx">TRX/INR</a></li>
            <li class="nav-li"><a href = "/eos">EOS/INR</a></li>
            <li class="nav-li"><a href = "/zil">ZIL/INR</a></li>
            <li class="nav-li"><a href = "/bat">BAT/INR</a></li>
            <li class="nav-li"><a href = "/zrx">ZRX/INR</a></li>
            <li class="nav-li"><a href = "/req">REQ/INR</a></li>
            <li class="nav-li"><a href = "/nuls">NULS/INR</a></li>
        </ul>
    </div>    
  </body>
</html>